name: Build and Push Docker Image
# on:
#   push:
#     branches:
#       - main
#     paths:
#       - "**.js"
#       - "Dockerfile"
#       - "package.json"
#       - ".dockerignore"
on:
  workflow_dispatch:
    inputs:
      test-type: 
        type: choice
        description: choose the type of tests to run
        options:
          - api_demo
          - ui_demo
          - demo

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/my-app:latest
